[program:{{ application_name }}]
command={{ virtualenv_path }}/bin/start_gunicorn.sh
stdout_logfile={{ application_log_file_base }}-out.log
stderr_logfile={{ application_log_file_base }}-err.log
process_name=%(program_name)s_%(process_num)02d
directory=/home/cosmo/{{ application_name }}
autostart=true
autorestart=true
user=cosmo
numprocs=1
stopsignal=HUP

