{
    "COSMOSERVER_SECRET_KEY": "{{ django_secret_key }}",
    "COSMOSERVER_DATABASE_HOST" : "{{ db_host }}",
    "COSMOSERVER_DATABASE_PORT": "{{ db_port }}",
    "COSMOSERVER_DATABASE_NAME": "{{ db_name }}",
    "COSMOSERVER_DATABASE_USER": "{{ db_user }}",
    "COSMOSERVER_DATABASE_PASSWORD": "{{ db_password }}",
    "PRIVATE_PAYMENT_KEY_CHOICES":  {
        "stripe": ["private-key-test", "private-key-live"]
    },
    "PUBLIC_PAYMENT_KEY_CHOICES": {
        "stripe": ["public-key-test", "public-key-live"]
    },
    "TWILIO_PHONE_NUMBER": "international-phone-number",
    "TWILIO_ACCOUNT_SID": "account-sid",
    "TWILIO_AUTH_TOKEN": "twilio-auth-token",
    "SOCIAL_AUTH_TWITTER_CONSUMER_KEY": "twitter-key",
    "SOCIAL_AUTH_TWITTER_CONSUMER_SECRET":  "twitter-secret",
    "SOCIAL_AUTH_FACEBOOK_KEY":  "facebook-key",
    "SOCIAL_AUTH_FACEBOOK_SECRET": "facebook-secret",
    "GOOGLE_ANALYTICS_ID": "UA-xxxxxxxx-x",
    "GOOGLE_ADWORDS_ID": "000000000",
    "REDIS_HOST": "{{ redis_host }}",
    "REDIS_PORT": {{ redis_port }},
    "REDIS_DB": "0",
    "REDIS_PASSWORD": "{{ redis_password }}"
}
